#paintbox {
  height: 500px;
  width: 500px;
  border: dotted black 3px;
  background-color: #bbdefb;
 
}

* body {
  background-color: #4287B2;
   font-family: 'Sansita Swashed', cursive;
  font-weight: lighter;
  font-style: italic;
}
#4287B2
#EBF2FC
#DBE2E9
#D1D1D1